{% extends "OnePlatformBundle::ensemble.html.twig" %}

{% block body %}
  <!-- Formulaire -->
    <section id="add" class="container content-section text-center" >
      <h3>Ajouter un plat</h3>
          {{ include("OnePlatformBundle:Advert:form.html.twig") }}
    </section>
{% endblock %}